<app-header titulo="DateTime"></app-header>


<ion-content padding>

    <ion-list>
        <ion-list-header>
            <ion-label>datos de nacimiento:</ion-label>
        </ion-list-header>


        <ion-item>
            <ion-label>fecha de nacimiento</ion-label>
            <ion-datetime placeholder="nacimiento" display-format="DD MMMM YYYY " cancelText="Cancelar!!!"
                (ngModel)="dob.toISOString()" (ionChange)="cambioFecha($event)">


            </ion-datetime>

        </ion-item>
        <ion-list-header>
            <ion-label>restricciones</ion-label>
        </ion-list-header>

        <ion-item>
            <ion-label>min y max</ion-label>
            <ion-datetime display-format="YYYY MM DD" placeholder="yyyy-mm-dd" min="2015-01-01" max="2015-12-31">
            </ion-datetime>
        </ion-item>

        <ion-item>
            <ion-label>ANIOS</ion-label>
            <ion-datetime display-format="YYYY" display-format="YYYY" min="2015" max="2025" value="2019"></ion-datetime>
        </ion-item>


    </ion-list>

</ion-content>