<app-header titulo="check"></app-header>


<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>etiqueta estilo ios</ion-label>
      <ion-checkbox slot="end" color="secondary" mode="ios"></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Hawaii</ion-label>
      <ion-checkbox slot="end" color="success"></ion-checkbox>
    </ion-item>
    <hr>

    <ion-item *ngFor="let i of data" (click)="onClick(i)">

      <ion-label>{{i.name}}</ion-label>


      <ion-checkbox slot="end" [color]="i.name" [(ngModel)]="i.state"></ion-checkbox>
    </ion-item>

  </ion-list>

</ion-content>