<app-header titulo="card"></app-header>

<ion-content padding>
  <ion-card color="primary" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>Card estilo ios</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>


      <ion-item color="secondary">
        <ion-icon slot="start" name="pin" color="light"></ion-icon>
        <ion-label>Awesome Label</ion-label>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, hic? Repudiandae, dolor? Iure, atque
      repudiandae magni eum quos vel blanditiis ea consequuntur quibusdam accusantium unde cumque, deserunt voluptates!
      Iure, aspernatur.
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-img src="assets/shapes.svg"></ion-img>
    <ion-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, hic? Repudiandae, dolor? Iure, atque
      repudiandae magni eum quos vel blanditiis ea consequuntur quibusdam accusantium unde cumque, deserunt voluptates!
      Iure, aspernatur.
    </ion-card-content>
  </ion-card>
</ion-content>